In [1]:
import os
import re
import numpy as np
import pandas as pd
import json
import glob

In [17]:
df1 = pd.read_json("via_region_data.json", orient="index")

In [85]:
df2 = pd.read_json("via_region_data 2.json", orient="index")

In [90]:
df3 = pd.read_json("via_region_data 3.json", orient="index")
df4 = pd.read_json("via_region_data 4.json", orient="index")

In [45]:
df1 = df1[3:]

In [53]:
df1= df1.reset_index()

In [54]:
df1.head()

,index,fileref,size,filename,base64_img_data,file_attributes,regions
0,image67.jpg47277,,47277,image67.jpg,,{},"{'0': {'shape_attributes': {'name': 'polygon',..."
1,image66.jpg19024,,19024,image66.jpg,,{},"{'0': {'shape_attributes': {'name': 'polygon',..."
2,image65.jpg102144,,102144,image65.jpg,,{},"{'0': {'shape_attributes': {'name': 'polygon',..."
3,image64.jpg85335,,85335,image64.jpg,,{},"{'0': {'shape_attributes': {'name': 'polygon',..."
4,image63.jpg24447,,24447,image63.jpg,,{},"{'0': {'shape_attributes': {'name': 'polygon',..."

In [88]:
df2 = df2.reset_index()

In [89]:
df2.head()

,index,fileref,size,filename,base64_img_data,file_attributes,regions
0,image80.jpg19410,,19410,image80.jpg,,{},"{'0': {'shape_attributes': {'name': 'polygon',..."
1,image75.jpeg3494,,3494,image75.jpeg,,{},"{'0': {'shape_attributes': {'name': 'polygon',..."
2,image79.jpg22265,,22265,image79.jpg,,{},"{'0': {'shape_attributes': {'name': 'polygon',..."
3,image78.jpg24447,,24447,image78.jpg,,{},"{'0': {'shape_attributes': {'name': 'polygon',..."
4,image77.jpg285224,,285224,image77.jpg,,{},"{'0': {'shape_attributes': {'name': 'polygon',..."

In [91]:
d = {"index": [], "filename":[], "size": [], "regions":[], "file_attributes":[]}

In [92]:
for index, row in df1.iterrows():
#     print(row["filename"])
    
    name = row["filename"]
    size = row["size"]
    regions = list(row["regions"].values())
    file_attributes= {}
    
    d["index"].append(name)
    d["filename"].append(name)
    d["size"].append(size)
    d["regions"].append(regions)
    d["file_attributes"].append(file_attributes)
    
for index, row in df2.iterrows():
#     print(row["filename"])
    
    name = row["filename"]
    size = row["size"]
    regions = list(row["regions"].values())
    file_attributes= {}
    
    d["index"].append(name)
    d["filename"].append(name)
    d["size"].append(size)
    d["regions"].append(regions)
    d["file_attributes"].append(file_attributes)

In [99]:
test = pd.DataFrame(d)

In [107]:
test["filename"].nunique()

60

In [102]:
len(test)

64

In [119]:
g = test.groupby(["filename"]).size().reset_index(name="counts")

In [121]:
g[g["counts"]>1]

       filename  counts
41  image62.jpg       2
42  image63.jpg       2
43  image64.jpg       2
44  image65.jpg       2

In [128]:
print(test[test["filename"]== "image62.jpg"]["regions"][5])

[{'shape_attributes': {'name': 'polygon', 'all_points_x': [204, 154, 116, 50, 39, 84, 119, 147, 176, 204, 198, 204], 'all_points_y': [200, 218, 238, 240, 234, 227, 216, 201, 184, 182, 203, 200]}, 'region_attributes': {'name': 'damage'}}]

In [130]:
print(test[test["filename"]== "image62.jpg"]["regions"][62])

[{'shape_attributes': {'name': 'polygon', 'all_points_x': [255, 269, 280, 286, 318, 376, 520, 623, 675, 675, 665, 646, 601, 540, 459, 404, 317, 249, 241, 251, 255], 'all_points_y': [443, 458, 486, 503, 508, 504, 504, 501, 508, 476, 465, 434, 421, 415, 420, 418, 423, 419, 428, 433, 443]}, 'region_attributes': {'Class Name': 'damage'}}]

In [131]:
test = pd.DataFrame(d)

In [132]:
test = test.set_index(keys = ["index"])

In [133]:
test = pd.concat([test, df3, df4], axis=0)

In [136]:
test = test.drop_duplicates(subset=["filename"])

In [137]:
len(test)

130

In [138]:
test

,filename,size,regions,file_attributes
image67.jpg,image67.jpg,47277,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
image66.jpg,image66.jpg,19024,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
image65.jpg,image65.jpg,102144,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
image64.jpg,image64.jpg,85335,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
image63.jpg,image63.jpg,24447,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
...,...,...,...,...
47.jpg98681,47.jpg,98681,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
50.jpg139156,50.jpg,139156,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
58.jpg88417,58.jpg,88417,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
69.jpg112352,69.jpg,112352,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
77.jpg90740,77.jpg,90740,"[{'shape_attributes': {'name': 'polygon', 'all...",{}

In [139]:
# test.to_json("final.json", orient="index")

# Renaming Files

In [141]:
test = test.reset_index()

In [153]:
test1 = test

In [158]:
collection = "Dataset_v1/"

In [170]:
counter = 1
tracker = []

for index, row in test1.iterrows():
#     print(row["filename"])
    name = row["filename"]
    
    path = collection + name
    
    
    
    if os.path.isfile(path):
        tracker.append(index)
        
        new_name = f"car{counter}.jpg"
        
        test1.loc[index, "index"] = new_name
        test1.loc[index, "filename"] = new_name
        
        os.rename(path, collection + new_name)
        
        counter += 1

In [171]:
test1.head()

,index,filename,size,regions,file_attributes
0,car1.jpg,car1.jpg,47277,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
1,car2.jpg,car2.jpg,19024,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
2,car3.jpg,car3.jpg,102144,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
3,car4.jpg,car4.jpg,85335,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
4,car5.jpg,car5.jpg,24447,"[{'shape_attributes': {'name': 'polygon', 'all...",{}

In [173]:
test1 = test1.set_index("index")

In [174]:
test1.to_json("final_v2.json", orient="index")

In [41]:
list(df1["regions"][3].values())

[{'shape_attributes': {'name': 'polygon',
   'all_points_x': [298, 327, 346, 369, 522, 512, 488, 393, 307, 288, 298],
   'all_points_y': [199, 203, 241, 265, 246, 290, 320, 322, 318, 264, 199]},
  'region_attributes': {'name': 'damage'}},
 {'shape_attributes': {'name': 'polygon',
   'all_points_x': [241, 237, 220, 193, 150, 173, 212, 247, 248, 241],
   'all_points_y': [167, 172, 194, 199, 206, 210, 202, 184, 165, 167]},
  'region_attributes': {'name': 'damage'}}]

In [23]:
df2.head()

,filename,size,regions,file_attributes
2.jpg94448,2.jpg,94448,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
3.jpg100697,3.jpg,100697,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
5.jpg75055,5.jpg,75055,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
6.jpg51549,6.jpg,51549,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
7.jpg74180,7.jpg,74180,"[{'shape_attributes': {'name': 'polygon', 'all...",{}

In [18]:
re.sub(r'\d+$', '', "image67.jpg4772")

'image67.jpg'

In [7]:
collection = "Dataset_v1/"

In [9]:
os.path.isfile(collection  + "image67.jpg")

True

In [6]:
os.listdir('Dataset_v1/')

['63.jpg',
 '77.jpg',
 'image63.jpg',
 'image75.jpeg',
 'image77.jpg',
 'image76.jpg',
 'image62.jpg',
 'image18.jpeg',
 '76.jpg',
 '62.jpg',
 '74.jpg',
 '60.jpg',
 '48.jpg',
 'image60.jpg',
 'image48.jpg',
 'image49.jpg',
 'image61.jpg',
 'image75.jpg',
 'image55.jpeg',
 '49.jpg',
 '61.jpg',
 '75.jpg',
 '59.jpg',
 '71.jpg',
 'image8.jpg',
 'image59.png',
 '.DS_Store',
 'image65.jpg',
 'image64.jpg',
 'image58.jpg',
 '64.jpg',
 '70.jpg',
 '58.jpg',
 '8.jpg',
 '66.jpg',
 '72.jpg',
 'image19.jpeg',
 'image1.jpeg',
 'image66.jpg',
 'image73.jpg',
 'image74.jpeg',
 'image67.jpg',
 '73.jpg',
 '67.jpg',
 '9.jpg',
 '14.jpg',
 '28.jpg',
 'image14.jpg',
 'image28.jpg',
 'image15.jpg',
 '61.jpeg',
 '29.jpg',
 '15.jpg',
 '17.jpg',
 'image17.jpg',
 'image16.jpg',
 '16.jpg',
 '12.jpg',
 'image72.jpeg',
 'image13.jpg',
 'test1.jpg',
 '13.jpg',
 '39.jpg',
 '11.jpg',
 'image39.jpg',
 'image10.jpg',
 'image38.jpg',
 'test2.jpg',
 '10.jpg',
 '38.jpg',
 '21.jpg',
 '18.jpeg',
 '34.jpg',
 '20.jpg',
 '36.jpg',
 '22.jpg',
 '23.jpg',
 '37.jpg',
 '33.jpg',
 '27.jpg',
 'image33.jpg',
 'image5.jpeg',
 '26.jpg',
 '32.jpg',
 '18.jpg',
 '24.jpg',
 '30.jpg',
 'image9.jpeg',
 'image46.jpeg',
 '31.jpg',
 '25.jpg',
 '19.jpg',
 '42.jpg',
 '4.jpg',
 '56.jpg',
 'image7.jpg',
 'image42.jpg',
 'image56.jpg',
 'image80.jpg',
 'image57.jpg',
 'image43.jpg',
 'image6.png',
 '80.jpg',
 '5.jpg',
 '57.jpg',
 '43.jpg',
 '55.jpg',
 '7.jpg',
 '41.jpg',
 '69.jpg',
 'image4.jpg',
 'image54.jpg',
 '68.jpg',
 '40.jpg',
 '54.jpg',
 '6.jpg',
 '78.jpg',
 '2.jpg',
 '50.jpg',
 '44.jpg',
 'image78.jpg',
 'image50.jpg',
 'image44.jpg',
 'image45.jpg',
 'image79.jpg',
 'image51.png',
 'image40.jpeg',
 '45.jpg',
 '3.jpg',
 '51.jpg',
 '79.jpg',
 '47.jpg',
 '53.jpg',
 '1.jpg',
 'image2.jpg',
 'image21.jpeg',
 'image47.jpg',
 'image53.jpg',
 'image52.jpg',
 'image3.jpg',
 '52.jpg',
 '46.jpg']

# Final Dataset

In [5]:
df1 = pd.read_json("./1-40.json", orient="index")
df2 = pd.read_json("./41-80.json", orient="index")
df3 = pd.read_json("./81-120.json", orient="index")
df4 = pd.read_json("./121-140.json", orient="index")

In [9]:
final = pd.concat([df1[:40], df2[40:80], df3[80:120], df4[120:141]], axis=0)

In [11]:
len(final)

141

In [12]:
#final.to_json("model_training-v1.json", orient="index")

# Train Test Split

In [15]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, y_test = train_test_split(final ,test_size=0.1, random_state=42)

In [19]:
len(X_train)

126

In [21]:
len(y_test)

15

In [23]:
#X_train.to_json("train.json", orient="index")

In [24]:
#y_test.to_json("val.json", orient="index")